* text=auto eol=lf
*.js text eol=lf
*.cs text eol=lf
*.csproj text eol=lf
*.lua text eol=lf
*.md text eol=lf
*.ps1 text eol=lf
LICENSE text eol=lf
*.dll binary
*.pdb binary
*.ydr binary
*.ytyp binary
*.png binary
